#main {
  width: 100%;
  background-color: blue;
}
/* PRIMEIRA AREA */
#home {
    display: block;
    background-color: var(--background-color);
    text-align: right;
  }

.home_texto {
  width: 29%;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  /* margin-left: 5%; */
}

.home_texto h1 {
  color: var(---text-color);
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Fleur De Leah", cursive;
  width: 100%;
  margin-bottom: 5%;
}

.home_texto p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 80%;
}

.home_img {
    display: inline-block;
    vertical-align: middle;
    width: 60%;
  }

.home_img img {
    margin: 20px auto;
}
/* Best Sellers */

#trendy {
    background-color: var(--background-white);
    padding: 100px 20px;
    height: fit-content;
  }

  #trendy aside {
    height: 100%;
    display: inline-block;
    margin-right: 5%;
    border: 1px solid var(--background-color);
    border-radius: 10px;
    padding: 20px;
    margin-top: 32px;
    margin-left: 30px;
    
  }

  #trendy aside h3{
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: var(--font-Lora);
    text-align: center;
  }

  #trendy aside h4{
    font-weight: 700;
    margin-bottom: 5px;
    margin-left: 5px;
  }

#trendy aside p{
    margin-bottom: revert;
    font-size: 0.9rem;
    margin-left: 5px;
  }


#trendy aside img{
    width: 245px;
    height: 245px;
    border-radius: 5px;
    box-shadow: 1px 2px 15px 1px rgba(105, 97, 76, 0.4);
}

#trendy aside ul{
    width: min-content;
}

#trendy .articleContainer {
  display: inline-block;
  width: 70%;
  vertical-align: top;
  text-align: center;
}

#trendy .articleContainer article {
  background-color: var(--background-white);
  padding: 20px 40px 20px 40px;
  margin-bottom: 20px;
  /* width: 30%; */
  display: inline-block;
}

#trendy .articleContainer article {
  margin: 10px 0;
  
}

#trendy .articleContainer article figure {
  margin-bottom: 8px;
}

#trendy .articleContainer article figure img {
  /* width: 85%; */
  border-radius: 5px;
  margin-bottom: 10px;
  width: 290px;
  height: 300px;
}


#trendy .articleContainer h2 {
  
  text-align: center;
  font-family: var(--font-alternative);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

#trendy .articleContainer article figure figcaption {
    font-size: 1.2rem;
    margin-left: 10px;
    font-family: var(--font-alternative);
    font-weight: bold;
    text-align: left;
}

#trendy .articleContainer article div span {
    font-size: 1.2rem;
    margin-left: 10px;
    font-family: var(--font-Lora);
    
}

.price{
    text-align: left;
}

/* About us ---------------------------------*/

#about_us {
  background-color: var(--background-color);
}

.about_us_container-img {
  display: inline-block;
}

.about_us_container-texto {
  display: inline-block;
  width: 30%;
  margin-left: 5%;
  vertical-align: top;
  margin-top: 260px;
}

.about_us_container-texto h2 {
  font-family: var(--font-alternative);
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.about_us_container-texto p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

/* TABLE */
#table {
  width: 100%;
  background-color: var(--background-white);
  padding: 100px 0;
}

#table h2 {
  font-family: var(--font-alternative);
  font-size: 2.5rem;
  margin-bottom: 40px;
  text-align: center;
}

#table table {
  display: inline-table;
}

#table th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
  font-family: var(--font-Lora);
}

/* FORM */

#form-contact h2 {
  text-align: center;
  font-family: var(--font-alternative);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#form-contact p {
  text-align: center;
  font-family: var(--font-alternative);
  margin-bottom: 20px;
}

#form-contact {
  height: fit-content;
  padding: 100px 0;
  background-color: var(--background-color);
}

#form-contact img {
  width: 260px;
  border-radius: 10px;
  border: 1px solid var(--background-color);
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}

#form-contact form {
  width: 80%;
  margin: auto;
}

.block {
  width: 100%;
  text-align: center;
}

#form-contact label {
  margin: 20px 0;
  display: block;
  text-align: left;
}

#form-contact label input {
  border: 1px solid var(--element-color);
  border-radius: 8px;
}

#form-contact label input:not([type="checkbox"]) {
  width: 357px;
  height: 32px;
  padding-left: 10px;
}

#form-contact #email {
  width: 352px;
}

#form-contact button {
  background-color: var(--element-color);
  color: #fff;
  padding: 10px 20px;
}

#form-contact div {
  display: inline-block;
}

#message {
  width: 415px;
  display: block;
}

#form-contact .inputs {
  margin-left: 30px;
}

button {
  display: block;
  width: 132px;
  margin: 0 auto;
  font-weight: bolder;
}

/* FOOTER ---------------------- */

#footer {
  background-color: var(--background-white);
  text-align: center;
}

#footer section {
  height: auto;
  padding: 40px;
}

#footer section div {
  text-align: left;
  margin-left: 40px;
  display: inline-block;
  vertical-align: top;
}

#footer section div h2 {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 1.2rem;
  font-family: var(--font-alternative);
}

#footer section div p {
  margin-bottom: 8px;
  line-height: normal;
}

#footer section div p a {
  color: var(--element-color2);
  text-decoration: none;
}

#footer section div h2 a {
  color: var(--element-color);
  text-decoration: none;
}

#footer section:last-child {
  border-top: 1px solid var(--element-color);
  color: var(--element-color2);
  padding: 20px;
}

.github a {
  margin-top: 10px;
  text-decoration: none;
  color: var(--element-color);
  font-weight: bolder;
}

.github {
  margin-top: 10px;
}

@media screen and (max-width: 1430px) {

}