#main {
  width: 100%;

  background-color: blue;
}
/* PRIMEIRA AREA */
.home {
  display: table;
  width: 100%;
  /* height: 100vh; */
  background-color: var(--background-color);
  text-align: center;
}

/* .centralizar{
    display: table-cell;
    text-align: middle;
    
} */

.home_texto {
  width: 45%;
  display: inline-block;
  /* margin-right: 26px; */
  text-align: left;
  vertical-align: middle;
  float: none;
  margin-left: 5%;
}

.home_texto h1 {
  color: var(---text-color);

  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-family: "Fleur De Leah", cursive;

  width: 100%;
  margin-bottom: 5%;
}

.home_texto p {
  font-size: 1.2rem;
  line-height: 1.8rem;
  width: 80%;
}

.home_img {
  width: 40%;
  display: inline-block;
  /* margin-left: auto; */
  /* max-height: fit-content; */
  vertical-align: middle;
  text-align: center;
  float: none;
}

.home_img img {
  /* width: auto; */
  /* height: 100%; */
  display: block;
  margin: 20px auto;

}

/* SEGUNDA AREA --- sobre mim*/

.sobre_nos {
  /* display: table;
    width: 100%; */
  background-color: var(--background-color);
  /* text-align: left; */
}

/* .sobre_mim-centralizar{
    display: inline-block;
} */

.sobre_nos_container-img {
  display: inline-block;
  width: fit-content;
  overflow: auto;
}

.sobre_nos_container-texto {
  display: inline-block;
  width: 30%;
  margin-left: 5%;
  vertical-align: top;
  margin-top: 260px;
}

.sobre_nos_container-texto h2 {
  font-family: var(--font-alternative);
  font-size: 2.5rem;

  margin-bottom: 10px;
}

.sobre_nos_container-texto p {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 2rem;
}

/* .sobre_mim_container-img img{
    
} */

/* TABLE */
#table {
  width: 100%;
  margin: 0 auto;
}

#table table {
  width: 60%;
  border-collapse: collapse;
}

#table th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: center;
}

/* FORM */

#form-contact h2 {
  text-align: center;
  font-family: var(--font-alternative);
  font-size: 2.5rem;
  margin-bottom: 20px;
}

#form-contact p {
  text-align: center;
  font-family: var(--font-alternative);

  margin-bottom: 20px;
}

#form-contact img {
    width: 260px;
    border-radius: 10px;
    border: 1px solid var(--background-color);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.2);

}

#form-contact {
  height: fit-content;
  padding: 100px 0;
  background-color: var(--background-white);
}

#form-contact form {
  width: 80%;
  margin: auto;
}

.block {
  width: 100%;
  text-align: center;
}

#form-contact label {
  margin: 20px 0;
  display: block;
  text-align: left;
}

#form-contact label input {
  border: 1px solid var(--element-color);
  border-radius: 8px;
}

#form-contact label input:not([type="checkbox"]) {
  width: 357px;
  height: 32px;
  padding-left: 10px;
}

#form-contact #email {
    width: 352px;
  }

#form-contact button {
  background-color: var(--element-color);
  color: #fff;
  padding: 10px 20px;
}

#form-contact div {
  display: inline-block;
}

#message {
  width: 415px;
  display: block;
}

#form-contact .inputs {
  margin-left: 30px;
}

button {
    display: block;
    width: 132px;
    margin: 0 auto;
  }