.nav_main {
  margin: 0 auto;
  width: 100%;
  background-color: var(--background-color);
  height: 150px;
  
}

.nav_main ul {
  list-style: none;
  margin: 0;
  text-align: right;
  padding-top: 65px;
  padding-left: 10%;
  padding-right: 10%;
  font-family: "Lora", serif;
  font-size: 0.9375rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  
}

.nav_main ul li {
  float: none;
  display: inline-block;
}
.nav_main ul li:nth-child(1) {
  float: left;
}
.nav_main ul li:nth-child(2) {
  float: left;
}
.nav_main ul li:nth-child(3) {
  float: left;
}
/* .nav_main ul li:nth-child(4){
    float:left;
    
} */

.nav_main ul li a {
  text-decoration: none;
  color: var(--text);
  font-size: 20px;
  display: block;
  padding: 10px 10px;
}
#main_header {
  width: 100%;
  position: relative;
}
.logo_area {
  width: 150px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 0;
  content: "";
  padding-top: 25px;
  margin-left: -75px; /* 50% do tamanho do width*/
  text-align: center;
}

hr{
    /* outline-style: dotted; */
    color: var(--text-color);
    opacity: .1;
    padding: 0;
    margin: 0;
}

@media screen and (max-width: 1130px) {
  .logo_area {
    left: 20%;
  right: 20%;
  }

  .nav_main ul {
   
    padding-left: 5%;
  padding-right: 5%;
    
  }

  .nav_main ul li:nth-child(1) {
    float: none;
  }
  .nav_main ul li:nth-child(2) {
    float: none;
  }
  .nav_main ul li:nth-child(3) {
    float: none;
  }
  .nav_main ul li:nth-child(7) {
    display: none;

  }

}
@media screen and (max-width: 680px) {
  
  .logo_area {
    left: 30%;
  right: 30%;
  }
  
  .nav_main ul li {
    display: block;
  }

  .nav_main ul {
    padding-top: 20px;
    padding-left: 5%;
  padding-right: 5%;
    
  }
  
  .nav_main ul li:nth-child(5) {
    display: none;
  }

  .nav_main ul li:nth-child(6) {
    display: none;
  }

  .nav_main ul li:nth-child(4) {
    display: none;
  }
}
