@media screen and (max-width: 768px) {
    #main {
      width: 100vw;
    }
    #home {
      display: block;
      margin-top: 200px;
      height: 100%;
      
    }
  
    .home_texto {
      display: block;
      text-align: center;
      width: 440px;
      margin: 0 auto;
    }
  
    .home_texto h1 {
      display: block;
      text-align: center;
      width: 440px;
    }
  
    .home_texto p {
      display: inline;
      text-align: center;
      width: 400px;
      padding: 30px;
    }
  
    .home_img {
      display: block;
      width: auto;
    }
  
    .home_img img {
      display: block;
      width: 100%;
    }
    /* ---------------------trendy */
    #trendy {
      padding: 20px;
    }
    #trendy aside {
      display: none;
    }
  
    #trendy .articleContainer{
      width: 100%;
    }
    /* about us---------------------- */
    .about_us_container-img img {
      width: 440px;
      height: 400px;
    }
  }