@media screen and (max-width: 768px) {
    #main {
      width: 100vw;
    }
    #home {
      display: block;
      margin-top: 200px;
      height: 100%;
      
    }
  
    .home_texto {
      display: block;
      text-align: center;
      width: 440px;
      margin: 0 auto;
    }
  
    .home_texto h1 {
      display: block;
      text-align: center;
      width: 440px;
    }
  
    .home_texto p {
      display: inline;
      text-align: center;
      width: 400px;
      padding: 30px;
    }
  
    .home_img {
      display: block;
      width: auto;
    }
  
    .home_img img {
      display: block;
      width: 100%;
    }
    /* ---------------------trendy */
    #trendy {
      padding: 20px;
    }
    #trendy aside {
      display: none;
    }
  
    #trendy .articleContainer{
      width: 100%;
    }
    /* about us---------------------- */
    .about_us_container-img {
      display: block;
    }

    .about_us_container-img img {
      display: block;
      width: 100%;
    }

    .about_us_container-texto {
      display: inline-block;
      width: 100%;
      vertical-align: top;
      text-align: center;
      margin: 30px 0;
    }

    .about_us_container-texto p {
      font-size: 0.7rem;
      font-style: normal;
      font-weight: 300;
      line-height: 2rem;
      padding: 0 50px;
    }



  }