.Games{
    height: 100vh;
    width: 100vw;
    
}


.games_section{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: min-content;
            
      
}


.gamesContainer{
    width: 100px;
    position: absolute;
    left: 10%;
    
}