body {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    background: #bfecf7;
    
  }
  
  .box{
    border-radius: 30px;
    background: #fff;
    font-family: Montserrat, sans-serif;;
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: #009688;
    padding: 40px;
    box-shadow:
        inset #009688 0 0 0 5px, 
      inset #059c8e 0 0 0 1px, 
      inset #0cab9c 0 0 0 10px, 
      inset #1fbdae 0 0 0 11px, 
      inset #8ce9ff 0 0 0 16px, 
      inset #48e4d6 0 0 0 17px, 
      inset #e5f9f7 0 0 0 21px, 
      inset #bfecf7 0 0 0 22px;
    text-shadow: 3px 3px 1px #bfecf7;
  }

  table {
    border-collapse: collapse;
    width: 100%;
    
  }

  th, td {
    
    
    text-shadow: 3px 3px 1px #bfecf7;
    padding: 8px;
    text-align: center;
    
  }

  tr:nth-child(even) {
    background-color: #b9e0fe; /* Cor de fundo para linhas pares */
  }

 

 .thead{
    text-decoration: underline;
  }

  .thtotal{
    background-color: #8bbcb7;
    padding: 20px;
    font-size: 3rem;
  }

  .table-js{
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  /* button */

  
button, button::after {
    border-radius: 20px;
    cursor: pointer;
    margin-top: 30px;
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'CLICK HERE!!!!';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }

  .resultado{
    font-weight: 500;
    font-size: 4rem;
    color:black;
    background-color: #d6f2f9;
    padding: 30px;
    text-align: center;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #48e4d6;
  }

  .esconder{
    display:none;
  }

  .box-left{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .star_div{
padding:20px;
display: flex;
justify-content: space-evenly;
color: #1a9e8f;
text-shadow: 2px 1px 2px  #6a6a6a;
  }
  