.icone {
    font-size: 80px;
}

.container_imagem {
    width: 95px;
    height: 95px;
    overflow: hidden;
}

.container_imagem img {
    margin-left: -20px;
    margin-top: -10px;
    height: 135px;
    width: 135px;
}